{% extends 'app/base.html' %}
{% block content %}

<h2>Checkout 💳</h2>

<div class="cart-container">
{% for item in items %}
    <div class="cart-card">
        <h3>{{ item.name }}</h3>
        <p>Qty: {{ item.qty }}</p>
        <p>₹{{ item.total }}</p>
    </div>
{% endfor %}
</div>

<h3>Total: ₹{{ total }}</h3>

<form method="POST">
    {% csrf_token %}

    <h3>Select Payment Method</h3>

    <label>
        <input type="radio" name="payment" value="UPI" required>
        UPI / QR Code
    </label><br>

    <label>
        <input type="radio" name="payment" value="COD">
        Cash on Delivery
    </label>

    <br><br>

    <!-- QR IMAGE -->
    <div id="qrBox" style="display:none;">
        <p>Scan to Pay:</p>
        <img src="/media/qr.png" width="200">
    </div>

    <br>

    <button type="submit" class="btn">Confirm Order</button>
</form>

<script>
    const radios = document.querySelectorAll('input[name="payment"]');
    const qr = document.getElementById('qrBox');

    radios.forEach(radio => {
        radio.addEventListener('change', () => {
            if (radio.value === "UPI") {
                qr.style.display = "block";
            } else {
                qr.style.display = "none";
            }
        });
    });
</script>
<h3>Select Time Slot</h3>
<select name="time_slot" required>
    <option value="">-- Select Time --</option>
    <option value="10 AM - 11 AM">10 AM - 11 AM</option>
    <option value="11 AM - 12 PM">11 AM - 12 PM</option>
    <option value="12 PM - 1 PM">12 PM - 1 PM</option>
    <option value="1 PM - 2 PM">1 PM - 2 PM</option>
</select>

{% endblock %}